<div class="customer">
  <span class="right">
    <%= link_to 'edit', edit_customer_path(customer) %>
    <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %> 
  </span>

  <h2><%= customer.fullname %></h2>
  <p>
    <% if customer.image.present? %>
      <%= image_tag customer.image %>
    <%end%>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
  <strong>Province:</strong>
  <% if customer.province.present? %>
    <%= customer.province.name %>
  <% else %>
    Province: None
  <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>
</div>